################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.vsidx
/.gitignore
/.vs/Crucifixion/v17/.futdcache.v2
/.vs/Crucifixion/v17/.suo
/.vs/Crucifixion/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/Crucifixion/bin/Debug/net8.0/Crucifixion.dll
/Crucifixion/bin/Debug/net8.0/Crucifixion.runtimeconfig.json
/Crucifixion/obj/Crucifixion.csproj.nuget.g.props
/.vs/ProjectEvaluation/crucifixion.metadata.v7.bin
/.vs/ProjectEvaluation/crucifixion.projects.v7.bin
/.vs/VSWorkspaceState.json
/Crucifixion/bin/Debug/net8.0/Crucifixion.deps.json
/Crucifixion/bin/Debug/net8.0/Crucifixion.exe
/Crucifixion/bin/Debug/net8.0/Crucifixion.pdb
/Crucifixion/bin/Debug/net8.0/uniqueWords.csv
/Crucifixion/obj/Crucifixion.csproj.nuget.dgspec.json
/Crucifixion/obj/Crucifixion.csproj.nuget.g.targets
/Crucifixion/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Crucifixion/obj/Debug/net8.0/apphost.exe
/Crucifixion/obj/Debug/net8.0/Crucifixion.AssemblyInfo.cs
/Crucifixion/obj/Debug/net8.0/Crucifixion.AssemblyInfoInputs.cache
/Crucifixion/obj/Debug/net8.0/Crucifixion.assets.cache
/Crucifixion/obj/Debug/net8.0/Crucifixion.csproj.BuildWithSkipAnalyzers
/Crucifixion/obj/Debug/net8.0/Crucifixion.csproj.CoreCompileInputs.cache
/Crucifixion/obj/Debug/net8.0/Crucifixion.csproj.FileListAbsolute.txt
/Crucifixion/obj/Debug/net8.0/Crucifixion.dll
/Crucifixion/obj/Debug/net8.0/Crucifixion.GeneratedMSBuildEditorConfig.editorconfig
/Crucifixion/obj/Debug/net8.0/Crucifixion.genruntimeconfig.cache
/Crucifixion/obj/Debug/net8.0/Crucifixion.GlobalUsings.g.cs
/Crucifixion/obj/Debug/net8.0/Crucifixion.pdb
/Crucifixion/obj/Debug/net8.0/Crucifixion.sourcelink.json
/Crucifixion/obj/Debug/net8.0/ref/Crucifixion.dll
/Crucifixion/obj/Debug/net8.0/refint/Crucifixion.dll
/Crucifixion/obj/project.assets.json
/Crucifixion/obj/project.nuget.cache
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/Crucifixion.AssemblyInfo.cs
/obj/Debug/net8.0/Crucifixion.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Crucifixion.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/Crucifixion.GlobalUsings.g.cs
/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Release/net8.0/Crucifixion.AssemblyInfo.cs
/obj/Release/net8.0/Crucifixion.AssemblyInfoInputs.cache
/obj/Release/net8.0/Crucifixion.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net8.0/Crucifixion.GlobalUsings.g.cs
